.dark-mode {
    background-color: darken($grisOscuro, 10);

    p{
        color: $blanco;
    }
    a,h1,h2,h3,h4{
        color: $gris;
    }

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde;
            .iconos-precio{
                filter: invert(100%);
            }
            
        }
    }

    .texto-nosotros blockquote {
        color: white;
    }

}