.no-webp .inicio {
    background-image: url(../../../build/img/header.jpg);
    max-width: 100%;
}
.webp .inicio{
    background-image: url(../../../build/img/header.webp);
    max-width: 100%;
}

.header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;
    &.inicio{
        background-position: center center;
        background-size: cover;
        @include tablet {
            min-height: 70rem;
        }
        .contenido-header{
            @include tablet {
                min-height: 70rem;
            }
        }
    }
    h1{
       
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    h1 {
        text-align: left;
        color: white;
        font-weight: $bold; 
        line-height: 2;
        max-width: 60px;
    }
}